# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\mahmoud\FarhyMall\AdminWebsite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
